@import url("https://fonts.googleapis.com/css?family=Pangolin&display=swap");

*, *:before, *:after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	display: flex;

	min-height: 100%;
}

#screen, #editor
{
	flex-grow: 1;
}

html, body, #screen
{
	width: 100%;
}

body, input, textarea
{
	font-family: "Pangolin", cursive;
}

a
{
	text-decoration: none;
}

div, a, p, img
{
	transition: 0.6s all;

	/* image-rendering: pixelated; */
}

#screen
{
	z-index: 1;

	display: flex;

	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

#screen > .message
{
	z-index: 10;

	align-self: flex-end;

	width: 100%;
	padding: 15px;
}

#screen > .message > .author
{
	font-size: 29px;
	font-weight: bold;

	z-index: 10;

	display: inline-block;

	padding: 15px 25px;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.7);
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

#screen > .message > .text
{
	font-size: 29px;

	z-index: 10;

	margin-top: 15px;
	padding: 25px;

	cursor: pointer;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.7);
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

#screen > .message > .character
{
	position: absolute;
	z-index: -1;
	right: 100px;
	bottom: 0;

	height: 85%;
	max-height: 900px;
}

#screen > .message > .characterTwo
{
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 100px;
	opacity: 0.9;
	height: 80%;
	max-height: 900px;
}

#screen > .menu
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;

	padding: 50px;
}

#screen > .menu > .title
{
	font-size: 68px;

	margin-bottom: auto;
	padding: 25px 55px;

	text-align: center;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.7);
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}

#screen > .menu > .button
{
	font-size: 23px;

	align-self: flex-start;

	min-width: 300px;
	margin-top: 25px;
	padding: 15px 25px;

	cursor: pointer;
	text-align: center;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.7);
}

#screen > .menu > .button:hover
{
	background-color: rgba(0, 0, 0, 1);
}

#editor
{
	padding: 25px;

	background-color: #EDC2E5;
}

#editor > .act
{
	display: flex;
	flex-flow: column nowrap;

	min-width: 300px;
	margin-bottom: 20px;
	padding: 25px 35px 30px 35px;

	background-color: #EBDD91;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
}

#editor > .act:last-child
{
	margin-bottom: 95px;
}

#editor > .act > .type
{
	font-size: 28px;

	margin-bottom: 15px;

	letter-spacing: 2px;
	text-transform: uppercase;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

#editor > .act > .input
{
	display: flex;
	flex-flow: row nowrap;

	width: 100%;
	min-height: 35px;
	margin: 5px 0;
}

#editor > .act > .input:not(:last-child)
{
	align-items: center;
}

#editor > .act > .input > p
{
	font-size: 18px;

	width: 160px;
	margin-right: 15px;

	text-align: right;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

#editor > .act > .input > input
{
	font-size: 18px;

	width: 100%;
	height: 100%;
	padding: 5px 15px;

	border: 0;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

#editor > .act > .input > textarea
{
	font-size: 18px;

	width: 100%;
	min-height: 50px;
	max-height: 150px;
	padding: 15px;

	resize: vertical;

	border: 0;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

#editor > .act > .input:last-child > p
{
	margin-top: 9px;
}

#editor > .save, #editor > .back
{
	font-size: 23px;

	position: fixed;
	bottom: 25px;

	min-width: 300px;
	margin-top: 25px;
	padding: 15px 25px;

	cursor: pointer;
	cursor: pointer;
	text-align: center;

	opacity: 0.4;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 4px 2px 0px rgba(0, 0, 0, 0.4);
}

#editor > .save:hover, #editor > .back:hover
{
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.9);
}

#editor > .act > .controls
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	margin-top: 25px;
}

#editor > .act .delete
{
	align-self: flex-start;

	padding: 10px 25px;
	padding-top: 12px;

	cursor: pointer;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
}

#editor > .act > .controls > .move > p
{
	padding: 5px 20px;

	cursor: pointer;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
}

#editor > .act > .controls > .move > p:first-child
{
	margin-bottom: 5px;
}

#editor > .act > .controls > .move
{
	margin-left: 15px;
}

#editor > .act .delete:hover, #editor > .act > .controls > .move > p:hover
{
	background-color: rgba(0, 0, 0, 0.9);
}

#editor > .save
{
	right: 25px;
}

#editor > .back
{
	right: 345px;
}

#editor > .actAddWrapper
{
	display: row wrap;

	margin-bottom: 20px;
}

#editor > .actAddWrapper > .createAct
{
	display: inline-block;

	margin-right: 15px;
	padding: 5px 20px;

	cursor: pointer;

	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
}

#editor > .actAddWrapper > .createAct:hover
{
	background-color: rgba(0, 0, 0, 0.9);
}
